ul {
    list-style: none;
}

.index {
    padding-bottom: 12rem;
    padding-left: 2rem;
    margin-right: 1rem;
}

a {
    font-size: 2rem;
}

.heading {
    font-family: 'Brush Script MT', cursive; 
    font-size: 3rem;
}

.main {

    background-color:#93A744;
    color:  #445DA7;
    width: 98vw;
    height: 97vh;
    overflow: hidden;
}

.main, .recipe {
    font-family: Arial,sans-serif;
}

.recipe {
    text-align: center;
}

.kale {
   background-color: #ffd1dc; 
} 

.fattoush {
    background-color: #bcf1ef;
}

.thumbnail {
    width: 20%;
    height: auto;
    float: right;
}

.chicken{
   background-color: #ed872d; 
}