ul {
    list-style: none;
}

a:visited {
    /* color: #A76244;*/
    color: #00cccc;

}

.heading {
    font-family: 'Brush Script MT', cursive;
}

.main {

    /*background-image: url('../images/retro-kitchen-annie-spratt-TFvF1Diklm0-unsplash.jpg');*/
    background-color: #cc0000;/*#93A744*/
    color:  #000000;/*#445DA7;*/
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
   
}